<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>用户信息界面</title>
    <script  th:src="@{/webjars/vue/2.6.11/vue.js}"></script>
    <script type="text/javascript" src="/webjars/jquery/3.5.1/jquery.min.js" th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script src="/webjars/bootstrap/4.5.3/js/bootstrap.bundle.min.js" th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/webjars/layui/2.5.6/layui.all.js}"></script>
    <link href="/font-awesome-4.7.0/css/font-awesome.css" th:href="@{/font-awesome-4.7.0/css/font-awesome.css}" rel="stylesheet">
    <link href="/webjars/bootstrap/4.5.3/css/bootstrap.css" th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.css}" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/webjars/layui/2.5.6/css/layui.css}">
    <link rel="stylesheet"  th:href="@{/css/index.css}">
    <style>

    </style>
</head>

<body>
<div id="app">
    <div class="row">
        <div :class="[show?'col-md-2':'']">
            <transition name="fade">
                <div th:replace="commons/bar::cellbar"></div>
            </transition>
        </div>

        <div class="topbar">
            <div th:replace="commons/bar::topbar"></div>
            <div class="content col-md-2">
                <img class="mb-4" th:src="@{/image/seeNews.png}" src="/image/seeNews.png" alt="" width="72" height="72">
                <h1>用户信息</h1>
<!--                <h1 th:text="${session.loginUser!=null?session.loginUser:'登录'}"></h1>-->
<!--                <h1 th:text="${session.loginUser!=null?session.userid:'登录'}"></h1>-->
            </div>
        </div>
    </div>




</div>

</body>

<script>
    var vue=new Vue({
        el:'#app',
        data() {
            return {
                show:true,
            };
        },
        methods: {

        },
        components:{

        }

    });



    layui.use(['element'],function(){
        layui.element.init();//手动调用初始化方法
    })

    $(function () {

    })
</script>

</html>